* {
    margin: 0;
    padding: 0;
}

.nav-bar {
    background: linear-gradient(to top left, #66CDAA, white);
    padding: 16px 8px;
    display: flex;
    justify-content: flex-end;


    .cart-button, .search-button  {
        // box-sizing: border-box;
        // min-width: 100px;
        margin-left: 8px;
        padding: 8px 16px;
        border: 1px solid #66CDAA;
        background-color: #F0FFF0;
        cursor: default;
        user-select: none;

        &:hover {
            background-color: #66CDAA;
            color: white;
            border-color: white;
        }
    }

    .goods-search {
        font-family: 'Times New Roman', sans-serif;
        font-size: 16px;
        border: 1px solid #66CDAA;
        background-color: #F0FFF0;
        padding-left: 8px;

        &:focus {
           outline: 1px solid white;
           border-color: white;
        }
    }
}

.goods-list {
    display: flex;
    flex-wrap: wrap;

    .goods-item {
        background: linear-gradient(to top left, #66CDAA, white);
        min-width: 150px;
        min-height: 150px;
        margin: 16px;
        padding: 8px;
        text-align: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

    }

    .add-button {
        border: 1px solid #66CDAA;
        background-color: #F0FFF0;
        padding: 8px;
        cursor: default;
        max-width: 70%;
        margin: 50px auto 0;
        user-select: none;

        &:hover {
            background-color: #66CDAA;
            color: white;
            border-color: white;
        }
    }
}

.cart-list {
    margin-top: 100px;

    .cart-item, .cart-total {
        background: linear-gradient(to top left, #66CDAA, white);
        margin: 16px;
        padding: 8px;
    }

    .cart-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .cart-total {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .clear-button, .remove-btn {
        padding: 8px;
        cursor: default;
        background-color: #F0FFF0;
        border: 1px solid #66CDAA;
        user-select: none;

        &:hover {
            background-color: #66CDAA;
            color: white;
            border-color: white;

        }
    }

    .remove-btn {
        margin-top: 8px;
    }

    .cartItemTitle {
        font-weight: 700;
    }
}

/*
    Регулярные выражения
*/

.reg-exp {
    margin-top: 32px;
    margin-left: 16px;

    textarea {
        display: block;
        padding: 8px;
        font-family: 'Times New Roman', sans-serif;
        font-size: 16px;
    }

    .regexp-button {
        margin-top: 8px;
    }
}

.contact-form {
    margin-top: 16px;
    margin-left: 16px;

    input {
        margin: 8px 0;
        min-height: 1.5em;
    }

    .submit-btn {
        margin: 8px 0 16px;
    }

    .invalid-inp {
        border-color: red;
    }
}
