* {
    margin: 0;
    padding: 0;
}

.nav-bar {
    background: linear-gradient(to top left, #66CDAA, white);
    padding: 16px 8px;
    display: flex;
    justify-content: flex-end;

    .search-bar {
        display: flex;
    }


    .cart-button, .search-button  {
        // box-sizing: border-box;
        // min-width: 100px;
        margin-left: 8px;
        padding: 8px 16px;
        border: 1px solid #66CDAA;
        background-color: #F0FFF0;
        cursor: default;
        user-select: none;

        &:hover {
            background-color: #66CDAA;
            color: white;
            border-color: white;
        }
    }

    .pushed-btn {
        background-color: #66CDAA;
        color: white;
        border-color: white;
    }

    .goods-search {
        font-family: 'Times New Roman', sans-serif;
        font-size: 16px;
        border: 1px solid #66CDAA;
        background-color: #F0FFF0;
        padding-left: 8px;

        &:focus {
           outline: 1px solid white;
           border-color: white;
        }
    }
}

.goods-list {
    display: flex;
    flex-wrap: wrap;

    .goods-item {
        background: linear-gradient(to top left, #66CDAA, white);
        min-width: 200px;
        min-height: 250px;
        margin: 16px;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }

    .good-img {
        background: linear-gradient(to top left, #66CDAA, white);
        margin-top: 16px;
        margin-bottom: 16px;
        border: 1px solid #66CDAA;
        width: 150px;
        height: 100px;
    }

    .add-button {
        border: 1px solid #66CDAA;
        background-color: #F0FFF0;
        padding: 8px;
        cursor: default;
        max-width: 70%;
        margin: 16px auto 8px;
        user-select: none;

        &:hover {
            background-color: #66CDAA;
            color: white;
            border-color: white;
        }
    }
}

.goods-empty, .cart-empty {
    margin: 16px;
}

.errorConnect {
    background: linear-gradient(to top left, #F08080, white);
    margin: 16px;
    padding: 8px;
}

.main {
    position: relative;
}
.cart-list {
    margin-top: 0px;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    min-width: 500px;
    background-color: #F0FFF0;

    .cart-item, .cart-total {
        background: linear-gradient(to top left, #66CDAA, white);
        margin: 16px;
        padding: 8px;
    }

    .cart-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .cart-total {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .clear-button, .remove-btn {
        padding: 8px;
        cursor: default;
        background-color: #F0FFF0;
        border: 1px solid #66CDAA;
        user-select: none;

        &:hover {
            background-color: #66CDAA;
            color: white;
            border-color: white;

        }
    }

    // .remove-btn {
    //     margin-top: 8px;
    // }

    .cartItemTitle {
        font-weight: 700;
    }
}
